@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ShareYourFavPlaces</h1>
    <p>This is a public tourism sharing app!! </p>
    <p>Share your walking tours, cycling tours, driving tours or other tours with people and explore their travels!!</p>
</div>
