@{
    //Add a descriptive title to the page title tag
    ViewData["Title"] = "ShareYourFavPlaces";
}

<div class="text-center">
    <!-- Modify page heading as well as text that accurately describes the purpose of your site and what kind of data it manages   -->
    <h1 class="display-4">Welcome to ShareYourFavPlaces</h1>
    <p>This is a public tourism sharing app!! Share your walking tours, cycling tours, driving tours or other tours with people and explore their travels!!</p>
    <p>What you can share in this website: Place Name, Cost, Your Experience and Photo!</p>
    <p></p>
    <p>Royalty-free images from <a href="https://pixabay.com">Pixabay</a>.</p>
    <p>Logo made from <a href="https://logomakr.com/">Logomakr</a>.</p>
</div>
